{% extends 'layouts/layout.html' %}

{% block content %}

<!-- <h1>Todos los polerones</h1> -->

<section>
  
    <div class="container-fluid">
      <div class="row text-center catalogo_titulo p-3">
        <h1 class="texto_encabezado">Polerones Unisex</h1>
      </div>
    </div>

    <div class="container-fluid card_polerones d-flex alingn-items-center justify-content-end">
                <div class="row row-col-4 text-center g-3">
            {% for poleron in polerones %}
            <div class="col flex">
                <div class="card" style="width: 17rem;">
                    <img src="{{poleron.imagen.url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Marca: <span class="span_detalle">{{poleron.marca}}</span></h5>
                    </div>
                    
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Talla: <span class="span_detalle">{{poleron.talla}}</span></li>
                      <li class="list-group-item">Precio: <span class="span_detalle">${{poleron.precio}}</span></li>
                      <li class="list-group-item">Stock: <span class="span_detalle">{{poleron.stock}}</span></li>
                    </ul>
                    <div class="card-body">
                      <a href="{% url 'detail_poleron' id=poleron.id %}" class="card-link"><button class="btn btn-primary">Detalle</button></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
  </section>

{% endblock %}


