{% extends 'layouts/layout.html' %}

{% block content %}

<!-- <h1>Catálogo</h1> -->
<section>
    <div class="container contenedor_productos mt-5">
        <div class="row row-col-4 text-center g-3">
            {% for producto in productos %}
                <div class="col flex">
                    <div class="card" style="width: 15rem;">
                        <a href="{% url 'detail_producto' producto.id %}">
                            <img src="{{ producto.imagen.url }}" class="card-img-top" alt="imagen producto">
                        </a>
                        <div class="card-body bg_body_producto">
                            <h5 class="card-title">Talla<span class="span_detalle_talla"> {{producto.talla}}</span></h5>
                            <h5 class="card-title">Precio  <span class="span_detalle_precio">${{producto.precio}}</span></h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}


