{% extends 'layouts/layout.html' %}

{% block content %}

<section>
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col col-lg-8 col-md-8 contenedor_about">
                <p class="font-spaces">Bienvenidos a <strong>MoonFashion</strong>, tu destino para la mejor ropa americana. Nos enorgullece ofrecer una amplia selección de productos de alta calidad y estilo.</p>
                <hr>
                <h3 class="text-center">Nuestra misión</h3>
                <p>Nuestra misión es brindarte la mejor experiencia de compra al ofrecerte ropa americana auténtica y de moda. Nos esforzamos por seleccionar cuidadosamente cada artículo para asegurarnos de que cumpla con los más altos estándares de calidad y estilo.</p>
            </div>
        </div>

        <div class="row">
            <div class="about col p-3 col-lg-12">

                <div class="about_secciones">
                    <i class='bx bxs-t-shirt about_icono'></i>
                    <h4 class="texto_encabezado">Nuestra Colección</h4>
                    <p>Explora nuestra colección de polerones cuidadosamente curada de prendas de vestir para hombres y mujeres.</p>
                </div>

                <div class="about_secciones">
                    <i class='bx bxs-rocket about_icono'></i>
                    <h4 class="texto_encabezado">Envíos</h4>
                    <p>Nos preocupamos por tu satisfacción. Ofrecemos envío rápido y seguro para que puedas disfrutar de tus compras lo antes posible.</p>
                </div>

                <div class="about_secciones">
                    <i class='bx bxs-chat about_icono'></i>
                    <h4 class="texto_encabezado">Contáctanos</h4>
                    <p>Si tienes alguna pregunta, sugerencia o comentario, no dudes en ponerte en contacto con nuestro equipo.</p>
                </div>
                
            </div>
        </div>

    </div>
</section>

{% endblock %}
