{% load static %}

<footer>
    <div class="container-fluid bg-black p-4">

        <div class="row">
            <div class="col text-center text_footer">
                <p>MoonFashion<i class="bi bi-c-circle"></i></p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <ul class="d-flex justify-content-center align-items-center redes_sociales_lista">
                    <li>
                        <a href="https://www.instagram.com/0_moonfashion_0/" target="_blank"><i class="bi bi-instagram"></i></a>
                    </li>

                    <li>
                        <a href=""><i class="bi bi-envelope"></i></a>
                    </li>

                    <li>
                        <i class="bi bi-facebook"></i>
                    </li>
                </ul>
            </div>
        </div>

    </div>    
</footer>
